server:
    port: 8080

spring:
    datasource:
        url: jdbc:mariadb://localhost:3306/FORS
        username: woojoo
        password: 3139
        driver-class-name: org.mariadb.jdbc.Driver

    jpa:
        hibernate:
            ddl-auto: none
        show-sql: true
        properties:
            hibernate:
                format_sql: true